@page "/generate"

<PageTitle>Generator</PageTitle>

<h1>Generator</h1>

<!--<span class="border border-info"></span>
<table class="table table-bordered border-primary">
    ...
</table>-->
<form>
    <div class="mb-3">
        <label class="form-label">Count of Class</label>
        <input type="number" class="form-control" id="countofClass" >
    </div>
    <button type="submit" class="btn btn-primary">Generate</button>
</form>

@code {
    
}
