@page "/"
@using Microsoft.EntityFrameworkCore;
@using TimeTable.DatabaseConnection;
@using TimeTable.Modules;
@inject IDbContextFactory<TimeTableContext> DbFactory

<PageTitle>Home</PageTitle>
<center>
<h1 style= "font-family:Comic Sans MS; color: #daa520;  ">Home</h1>
<h3 style="font-family: Comic Sans MS; color: #daa520; ">Welcome to the golden Timetable </h3>
<br />
<img src="https://us.123rf.com/450wm/snhandini/snhandini2210/snhandini221000105/192628713-welcome-word-hand-lettering-for-posters-and-greeting-cards-design.jpg?ver=6 heigt="80%" width="80%">
</center>

<!--<button @onclick="AddTeacherMethod">Add Teacher</button>
@foreach(Teacher t in techers)
{
	@foreach(Subject s in t.TeachedSubject)
	{
				<h1>@s._premises</h1>
	}
}

@foreach (Student s in students)
{
	<h1>@s.Education.AnzLessons</h1>
}

@code{
	List<Subject> sub = new List<Subject>();
	List<Teacher> techers = new List<Teacher>();
	List<Student> students = new List<Student>();
	List<Education> educations = new List<Education>();
	List<ClockTimes> clocktime = new List<ClockTimes>();
	List<Room> rooms = new List<Room>();

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();


		using var context = DbFactory.CreateDbContext();
		context.InitializeDatabase();


		SubjectDatabaseConnection.setSubject("string1", "string2", "string3");
		SubjectDatabaseConnection.setSubject("math", "string2", "string3");
		sub = SubjectDatabaseConnection.getSubject();

		ClockTimeDatabaseConnection.setClockTime(new(13, 0, 0), new(18, 0, 0), DayOfWeek.Monday, "confrence");

		clocktime = ClockTimeDatabaseConnection.getClockTimes();


		techers = await TeacherDatabaseConnection.getTeacher();

		TeacherDatabaseConnection.setTeacher("fda", "hdfs", true, sub, true, 4, clocktime);

		techers = await TeacherDatabaseConnection.getTeacher();

		EducationDatabaseConnection.setEducation("bminfromatik", sub, 23);
		 educations = await EducationDatabaseConnection.getEducation();

		Education eductation = educations[1];

		StudentDatabaseConnection.setStudent("aurel", "bieri", true, eductation, techers, 42, 1, "b32");

		students = await StudentDatabaseConnection.getStudent();

		RoomDatabaseConnection.setRoom("computerRoom", 25);
		rooms = RoomDatabaseConnection.getRoom();

	}
	private void AddTeacherMethod()
	{
		TeacherDatabaseConnection.setTeacher("fda", "hdfs", true, sub, true, 4, clocktime);
	}-->
}